<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nextplorer</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet"> <!-- adds FontAwesome library -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,900italic' rel='stylesheet' type='text/css'>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA2MtDTfBu8jQbwT0m2OAxLuG55VNt_8Q&libraries=places"></script>
    <script src="/js/geolocation-marker.js"></script>
    <!-- TODO Update Maps URL with hidden key -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
    <script src="/js/scripts.js" charset="utf-8"></script>
    <script src="/js/profile.js" charset="utf-8"></script>
  </head>
  <body>

      <div id='top-nav'>

        <!-- <div id='hamburger-button'>
         <span></span>
         <span></span>
         <span></span>
        </div> -->

        <div id='logo'>Nextplorer</div>

        <div id='filter'>Filter <i class="fa fa-sort-desc" aria-hidden="true"></i></div>

        <div class='box'>
          <div class='search-container'>
            <input type='search' id='search-term' placeholder="Search for a location">
            <button type='submit' id='search-submit' class='icon'><i class='fa fa-search'></i></button>
            <button type='submit' id='re-geolocate' class='icon'><i class='fa fa-location-arrow'></i></button>
          </div>
        </div>

        <div class='profile-menu'>
          <div class='profile-img'>
            <img src='https://avatars2.githubusercontent.com/u/15470435?v=3&s=460'>
          </div>
          <div id='dropdown-arrow'><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
        </div>

        </div>

  <div id='dropdown-menu' style='display:none;'>
    <ul>
      <li><a href='#' id='profile-link'>My Profile</a></li>
      <li><a href="#" id='logout-link'>Log Out</a></li>
    </ul>
  </div>

   <!-- <div id='navigation' style='display:none;'>
     <ul>
       <div class='nav-heading'>
         <h3>Sort</h3>
       </div>
         <li class="whole-toggle"><i id="restaurant" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Restaurants</li>
         <li class="whole-toggle"><i id="bar" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Bars</li>
         <li class="whole-toggle"><i id="coffee" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Coffee Shops</li>
         <li class="whole-toggle"><i id="store" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Stores</li>
         <li class="whole-toggle"><i id="movie" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Movie Theaters</li>
         <li class="whole-toggle"><i id="park" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Parks</li>
         <li class="whole-toggle"><i id="museum" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Museums</li>
    </ul>
    <div class='menu-logout'>
      <a href="#" id='logout-link'><br><br>Log Out</a>
    </div>
   </div> -->

   <div id='navigation' style='display:none;'>
     <ul>
         <li class="whole-toggle"><i id="restaurant" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Restaurants</li>
         <li class="whole-toggle"><i id="bar" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Bars</li>
         <li class="whole-toggle"><i id="coffee" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Coffee Shops</li>
         <li class="whole-toggle"><i id="store" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Stores</li>
         <li class="whole-toggle"><i id="movie" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Movie Theaters</li>
         <li class="whole-toggle"><i id="park" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Parks</li>
         <li class="whole-toggle"><i id="museum" class="fa fa-toggle-on cat-toggle" aria-hidden="true"></i> Museums</li>
    </ul>
   </div>


<!-- IRWIN  -->
<!-- Made some temporary additions just to visualize user data -->
   <div id='profile-container' style='display:none;'>
     <!-- <img src='https://avatars2.githubusercontent.com/u/15470435?v=3&s=460'> -->

     <div id='edit-profile'></div>

     <div id='close-profile'><p><i class="fa fa-times" aria-hidden="true"></i></p></div>

   </div>

    <div id='map'>
    </div>

  </body>
</html>
